@import "tailwindcss";

:root {
  --background: #f8fafc;   /* slate-50 */
  --foreground: #0f172a;   /* slate-900 */
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;   /* slate-50 */
    --foreground: #0f172a;   /* slate-900 */
  }
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.about-page p {
  @apply text-xl sm:text-xl leading-relaxed text-slate-600 text-justify;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-slate-900 tracking-tight;
}

.social-icon {
  @apply h-10 w-10 rounded-full bg-slate-100 text-slate-600 
         grid place-items-center transition 
         hover:bg-pink-600 hover:text-white;
}

.social-icon svg {
  width: 20px;
  height: 20px;
}


footer {
  @apply text-base sm:text-lg;
}

footer h2,
footer h3 {
  @apply text-xl font-semibold;
}







/* ===== Curved line animation ===== */

.curved-lines {
  pointer-events: none;
}

/* Base line style */
.line {
  stroke-dasharray: 6 6;
  animation: moveLine 18s linear infinite;
}

/* Slight speed difference for natural effect */
.line-fast {
  animation-duration: 14s;
}

.line-slow {
  animation-duration: 22s;
}

/* Keyframes */
@keyframes moveLine {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -200;
  }
}

